@import "tailwindcss";

@font-face {
  font-display: block;
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 400;
  src: url('@/app/assets/atkinson-hyperlegible-next-v7-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'FT Ruinic';
  font-style: normal;
  font-weight: 400;
  src: url('@/app/assets/ft-ruinic.regular.woff2') format('woff2');
}

@theme {
  --color-main: #3c315d;
  --color-light: #9282c3;
  --color-dark: #282339;
}

@layer base {
  body {
    color: white;
    font-family: 'Atkinson Hyperlegible Next', 'sans serif';
  }
}

@utility font-ruinic {
  font-family: 'FT Ruinic';
}

